 *, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
  position: relative;
}

/* menu style */
.menu-block {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #02254B;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: 0;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  color: white;
  font-size: 18px;
}

.menu-item:hover {
  color: black;
  background-color: #ddd;
}

.hidden {
  display: none
}

@media screen and (max-width : 1095px) {
  .hidden {
    display: flex;
  }
}

  /* ---------------------------- */
  main {
    padding-top: 50px;
  }
  .container-block {
    will-change: transform; 
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);    
    line-height: 1.6;
  }

  .container-block {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  /* block 1 style */

.item-1 {
    /* background-image: url(img/first-back.jpg); */
    background-image: linear-gradient(45deg, rgb(3, 35, 75) 0%, rgb(19, 77, 165) 100%); 
    background-size: cover;
    background-position: top center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-block h1 {
  font-size: 4vw!important;
}

.logo {
  width: 10%;
}

.bg-txt {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.bg-txt h3 {
  font-size: 2.3vw;
  padding: 10px;
  font-weight: bold;
}

.bg-txt p {
  font-size: 1.6vw;
}

.sm-txt {
  font-style: italic;
  font-size: 1.5vw;
  margin: 0 auto;
  width: 80%;
  padding: 3%;
}

.btn-block {
  display: flex!important;
  justify-content: center;
}

.y-btn {
  margin: 0 auto;
  margin-top: 25px;
  background-color: rgb(235, 235, 2);
  border-radius: 35px;
  padding: 15px 20px;  
  font-size: 1.6vw;
  border: none;
}

.y-btn:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 0);
}

/* block 2 style */
.item-2 {
  background-color: rgb(240, 240, 240);
  color: black;
}

.item-2 {
  font-size: 1.4vw;
}

.item-2 > p {
  text-align: center;
  padding: 50px;
  padding-top: 0;
  font-size: 1.5vw;
}

.item-2-inner-block {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-item {
  width: 45%;
  margin-bottom: 50px;
}

.block-item {
  display: flex;
  align-items: center;
}

.block-item img {
  width: 20%;
  margin-left: 30px;
}

.inner-item h3 {
  padding-bottom: 20px;
  font-weight: bold;
}

.pad-0 {
  padding-bottom: 0!important;
}

.txt .italic-p {
  font-style: italic;
  font-weight: 700;
}

ul li, .txt ol li {
  padding-bottom: 5px;
}

/* block 3 style */
.item-3 {
  padding: 50px;
  will-change: transform; 
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); 
  background-image: linear-gradient(45deg, rgb(0, 78, 138) 0%, rgb(0, 175, 173) 100%); 
}

.item-3-title {
  text-align: center;
  color: rgb(251, 255, 0);
}

.i3-bg-txt {
  font-size: 4vw;
}

.i3-sm-txt {
  font-size: 2vw;
}

.item-3-txt {
  width: 85%;
  padding-top: 50px;
  margin: 0 auto;
  font-size: 1.3vw;
  color: white;
}

.item-3-txt > p {
  padding-bottom: 30px;
}

.l-g-flush {
  padding-left: 30px;
}

.bold-li {
  font-weight: bold;
  font-size: 1.5vw;
  font-style: italic;
}

/* block 4 style */
.item-4 {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.item-4 > h1 {
  padding-bottom: 20px;
}

.inner-item-4 {
  width: 90%;
  margin: 0 auto;
  color: white;
}

.parallelogram {
  width: 50%;
  will-change: transform; 
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);  
  background-image: linear-gradient(45deg, rgb(3, 134, 73) 0%, rgb(102, 206, 93) 100%); 
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5vw;
}

.arrow-block {
  display: flex;
  justify-content: center;
}

.item-arrow {
  width: 3%;
  height: 3%;
  margin: 0 auto !important;
  /* transform: rotate(90deg); */
}

.you-do {
  font-style: italic;
}

.we-do {
  text-align: center;
  font-weight: bold;
}

/* block 5 style */
.item-5-inner {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 5%;
}
.media-link {
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2vw;
  color: #02254B;
}

.media-link p {
  transition: 0.7s;
}

.media-link:hover p {
  background-color: #ddd;
  padding: 10px;
  border-radius: 15px;
}

.media-link img {
  width: 15%;
  margin-left: 10px;
}

/* block 6 style */
.item-6 {
  background-color: rgb(240, 240, 240)
}

.i6-txt-block {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: rgb(92, 92, 92);
}

.inner-item6 {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  width: 45%;
  font-size: 1.5vw;
  margin: 10px 15px;
}

.video-block h3 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 2.5vw;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 80%;
  margin: 0 auto;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border: 0;
}

/* block 8 style */
.item-8 {
  background-image: url(http://school-ball.com/sball/static/mainweb/images/main/body_bg.jpg);
  background-size: cover;
  background-position: top center;
  color: white;
}

.item-8 > h2 {
  text-align: center;
  font-size: 3vw;
}

.number-block {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number-block p {
  border: 1px dotted white;
  padding: 15px;
  font-size: 1.5vw;
  color: rgb(226, 226, 226);
}

.bold-num {
  font-weight: bold;
  font-style: normal;
  padding-right: 10px;
  color: white;
}

.p-block {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
}

.p-block > p {
  width: 45%;
  padding: 15px;
  text-align: center;
  will-change: transform; 
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);  
  margin-bottom: 20px;
  font-size: 1.5vw;
}

.p-item-1 {
    background-image: linear-gradient(45deg, rgb(0, 78, 138) 0%, rgb(0, 175, 173) 100%); 
}

.p-item-2 {
    background-image: linear-gradient(45deg, rgb(218, 117, 79) 0%, rgb(83, 120, 242) 100%);  
}

.p-item-3 {
    background-image: linear-gradient(45deg, rgb(100, 0, 86) 0%, rgb(41, 69, 148) 100%); 
}

.p-item-4 {
    background-image: linear-gradient(45deg, rgb(0, 112, 60) 0%, rgb(67, 150, 57) 100%); 
}

.footer-block {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.contact-block {
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
}

.contact-block p {
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.contact-block a {
  font-style: italic;
  text-decoration: none;
  color: rgb(162, 162, 255);
}

.contact-block a:hover {
  text-decoration: none;
  color: rgb(97, 97, 255);
}

.btn-txt-block {
  margin: 0 auto;
}

.btn-txt-block h2 {
  font-size: 1.3vw;
  color: rgb(255, 255, 65);
  padding: 15px;
}

.block-link {
  display: block;
  text-decoration: none;
}

.block-link:hover {
  text-decoration: none;
}

.contact-icons {
  margin-top: 10px;
}

/* block 9 style */
.item-9 {
  text-align: center;
}

.inner-item-9 {
  text-align: initial;
  width: 80%;
  margin: 0 auto;
}

.slider {
  will-change: transform; 
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); 
  background-image: linear-gradient(45deg, rgb(3, 35, 75) 0%, rgb(19, 77, 165) 100%);
  color: white;
  padding: 2% 0;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider h3 {
  font-size: 1.5vw;
}

.slider ul {
  font-size: 1.2vw;
}

.inner-item-9 .arrow-block {
  transform: rotate(90deg);
  margin: 10px 0;
}

.item-9 > h2 {
  color: rgb(26, 3, 128);
}

.title {
  font-size: 4vw;
}

.sm-title {
  font-size: 1.5vw;
  padding: 15px;
}

.bl-txt {
  padding: 50px 0;
}

/* media queries */
@media screen and (max-width: 1070px) {
  .slider ul {
    font-size: 1.5vw;
  }
  .slider h3 {
    font-size: 2vw;
  }
}

@media screen and (max-width:924px) {
  /* block 1*/
  .logo-block .logo {
    width: 15%;
  }
  .item-1 .bg-txt h3{
    font-size: 2.6vw;
  }
  .item-1 .bg-txt p, .y-btn {
    font-size: 1.9vw;
  }
  .item-1 .sm-txt {
    font-size: 1.8vw;
  }

  /*block 2*/
  .item-2 > p {
    font-size: 2vw;
  }
  .item-2 {
    font-size: 1.8vw;
  }

  /*block 3*/
  .i3-bg-txt {
    font-size: 5vw;
  }
  .i3-sm-txt {
    font-size: 3vw;
  }
  .item-3-txt {
    font-size: 2.3vw;
  }
  .item-3 .bold-li {
    font-size: 2.5vw;
  }

  /*block 4*/
  .parallelogram {
    width: 70%;
    font-size: 2vw;
  }

  /* block 5*/
  .item-5-inner .media-link {
    font-size: 2.5vw;
  }

  /* block 6 */
  .i6-txt-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .inner-item6 {
    font-size: 2vw;
  }

  /* block 8 */
  .item-8 > h2 {
    font-size: 4vw;
  }
  .number-block p {
    font-size: 2vw;
  }
  .p-block > p {
    font-size: 2vw;
    margin:10px 15px;
  }
  .contact-block >div >h2 {
    font-size: 2.2vw;
  }
  .contact-block >div >p {
    font-size: 1.7vw;
  }
  .btn-txt-block h2 {
    font-size: 2.2vw;
  }

  /*block 9*/
  .item-9 .title {
    font-size: 4.5vw;
  }
  .item-9 .sm-title {
    font-size: 2vw;
  }
  .inner-item-9 {
    width: 95%;
  }
  .slider ul {
    font-size: 16px!important;
  }
  .slider h3 {
    font-size: 18px;
    margin: 15px;
    margin-top: 0;
  }
  .slider {
    flex-wrap: wrap;
    padding: 20px 50px;
  }
}

@media screen and (max-width: 654px) {

  /* block 1*/
  .logo-block .logo-text {
    font-size: 5vw!important;
  }
  .item-1 .bg-txt h3{
    font-size: 3.3vw;
  }
  .item-1 .bg-txt p, .y-btn {
    font-size: 2.6vw;
  }
  .item-1 .sm-txt {
    font-size: 2.5vw;
  }

  /*block 2*/
  .item-2 > p {
    font-size: 2.5vw;
  }
  .item-2 {
    font-size: 2.4vw;
  }

  /*block 3*/
  .i3-bg-txt {
    font-size: 5.5vw;
  }
  .i3-sm-txt {
    font-size: 3.5vw;
  }
  .item-3-txt {
    font-size: 2.8vw;
  }
  .item-3 .bold-li {
    font-size: 3vw;
  }

  /*block 4*/
  .item-4 > h1 {
    font-size: 5vw;
  }
  .parallelogram {
    width: 80%;
    font-size: 3vw;
  }
  .item-arrow {
    width: 5%;
    height: 5%;
  }

  /* block 5*/
  .item-5-inner .media-link {
    font-size: 3vw;
  }

  /* block 6 */
  .i6-txt-block {
    width: 95%;
  }
  .inner-item6 {
    width: 80%;
  }

  /* block 8 */
  .item-8 > h2 {
    font-size: 4vw;
  }
  .number-block {
    width: 95%;
    margin: 0 auto;
  }
  .number-block p, .btn-txt-block h2, .contact-block >div >h2 {
    font-size: 2.5vw;
  }
  .p-block > p {
    font-size: 2vw;
    margin:10px 15px;
  }
  .contact-block >div >p {
    font-size: 2vw;
  }
  .contact-icons> a > img {
    width: 24px;
    height: 24px;
  }
  .footer-block {
    padding-top: 35px;
    flex-wrap: wrap;
  }
  /*block 9*/
  .item-9 .title {
    font-size: 4.5vw;
  }
  .item-9 .sm-title {
    font-size: 2vw;
  }
  .slider ul {
    font-size: 2.5vw!important;
  }
  .slider h3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 484px) {

  /* block 1*/
  .logo-block .logo-text {
    font-size: 6vw!important;
  }
  .item-1 .bg-txt h3{
    font-size: 4.3vw;
  }
  .item-1 .bg-txt p, .y-btn {
    font-size: 3.6vw;
  }
  .item-1 .sm-txt {
    font-size: 3.5vw;
  }

  /*block 2*/
  .item-2-inner-block {
    justify-content: center;
  }
  .item-2 .inner-item {
    min-width: 100%;
    max-width: 100%;
  }

  .item-2 > p {
    font-size: 3.5vw;
  }
  .item-2 {
    font-size: 3.4vw;
  }

  /*block 3*/
  .i3-bg-txt {
    font-size: 6vw;
  }
  .i3-sm-txt {
    font-size: 4vw;
  }
  .item-3-txt {
    font-size: 3.3vw;
  }
  .item-3 .bold-li {
    font-size: 3.5vw;
  }

  /* block 4*/
  .parallelogram {
    width: 90%;
    font-size: 3.5vw;
  }

  /* block 5*/
  .item-5-inner {
    flex-wrap: wrap;
  }
  .item-5-inner .media-link {
    font-size: 4vw;
    min-width: 100%;
    max-width: 100%;
    padding-top: 30px;
  }
  .item-5 .btn-block {
    width: 80%;
    margin: 0 auto;
  }

  /* block 6*/
  .inner-item6 {
    font-size: 3vw;
  }

  /* block 8 */
  .item-8 > h2 {
    font-size: 4.5vw;
  }
  .number-block {
    flex-wrap: wrap;
  }
  .number-block p {
    min-width: 100%;
    max-width: 100%;
  }
  .number-block p, .btn-txt-block h2 {
    font-size: 3vw;
  }
  .p-block > p {
    font-size: 3.5vw;
    margin:10px 15px;
    padding: 15px 45px;
  }
  .contact-block >div >p {
    font-size: 3vw;
  }

  .contact-block >div >h2 {
    font-size: 3.5vw;
  }
  .item-8 .y-btn {
    padding: 5px 10px;
    margin-left: 15px;
  }

  .footer-block {
    padding-top: 35px;
    flex-wrap: wrap;
  }
  /*block 9*/
  .item-9 .title {
    font-size: 6vw;
  }
  .item-9 .sm-title {
    font-size: 4vw;
  }
  .item-9 .arrow-block img {
    width: 7%;
    height: 7%;
  }
  .item-9 h2 {
    padding: 20px 10px;
    font-size: 1.2em;
  }
  .item-9 .btn-block {
    flex-wrap: wrap;
  }
  .slider ul {
    font-size: 16px!important;
  }
  .slider h3 {
    font-size: 5vw;
    margin: 15px;
    margin-top: 0;
  }
}





